# Игнорируем файлы, генерируемые компилятором и сборщиком
/build/
*.o
*.a
*.so
*.out
*.dSYM
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.log
.vscode/
.vscode/settings.json
src/server_log.txt